@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #F2C94C;
}
.App {
  height: 100%;
}
.dragzone {
  padding: 30px 30px;
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.dragzone-hover {
  background-color: blue;
}
.loading-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loading {
  overflow: hidden;
  margin-top: 15px;
  border-radius: 4px;
  width: 250px;
  height: 8px;
}
.loading > div {
  border-radius: 4px;
  height: 100%;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}
.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
